---
---

@import "minima";

.site-header {
    background-color: #2f6299;
}
.site-header a:hover {
    color: #ffffff;
}
.site-header a:visited {
    color: #ffffff;
}
.site-title, .site-title:visited {
    color: #ffffff;
}
.site-nav .page-link {
    color: #ffffff;
    line-height: 1.5;
}
.site-nav .menu-icon > svg {
    fill: #ffffff;
}
.site-footer {
    background-color: #2f6299;
}
.site-footer a {
    color: #ffffff;
}
.site-footer a:visited {
    color: #e0e0e0;
}
.site-footer .svg-icon {
    fill: #ffffff;
}
.footer-col-wrapper {
    color: #ffffff;
}