---
---

@import "minima";

.site-header {
    background-color: #2f6299;
}
.site-header a:hover {
    color: #ffffff;
}
.site-header a:visited {
    color: #ffffff;
}
.site-title, .site-title:visited {
    color: #ffffff;
}
/* Desktop navigation - white links on blue background */
@media screen and (min-width: 601px) {
    .site-nav .page-link {
        color: #ffffff;
        line-height: 1.5;
    }
}

/* Mobile menu styles - dark links on white background */
@media screen and (max-width: 600px) {
    .site-nav .page-link {
        color: #111 !important;
        background-color: #fdfdfd;
        line-height: 1.5;
    }
    .site-nav .page-link:hover {
        color: #2f6299 !important;
    }
    .site-nav .menu-icon > svg {
        fill: #424242 !important;
    }
}

/* Desktop hamburger icon */
@media screen and (min-width: 601px) {
    .site-nav .menu-icon > svg {
        fill: #ffffff;
    }
}
.site-footer {
    background-color: #2f6299;
}
.site-footer a {
    color: #ffffff;
}
.site-footer a:visited {
    color: #e0e0e0;
}
.site-footer .svg-icon {
    fill: #ffffff;
}
.footer-col-wrapper {
    color: #ffffff;
}